/********** Template CSS **********/
:root {
  --primary: #f65005;
  --secondary: #f65005;
  --light: #f7f8fc;
  --dark: #111111;
  --blu: #a6e1ff;
  --red: #e6283d;
  --pink: #ff9897;
}
.top {
  margin-top: 25px;
}
ul {
  list-style-type: none;
}

a {
  color: #b63b4d;
  text-decoration: none;
}

#navar {
  /* float: right; */
  margin-right: 100px;
}
#navar > li {
  list-style: none;
  display: inline-block;
}
#navar > li:hover {
  background: #e6283d;
}
.menu > ul {
  display: flex;
}
.menu a {
  padding: 20px 10px;
  color: #000;
  font-weight: 500;
}

/*.menu ul {
    display: flex;
  }*/
.menu a:hover {
  color: #111111;
}
/*.menu ul li a {
    color: #111111;
  }
  .menu li {
    list-style: none;
    padding: 0 12px;
    position: relative;
    z-index: 1;
  }
  .menu li a {
    text-decoration: none;
    line-height: 30px;
    font-size: 15px;
    font-weight: 600;
    color: #460674;
  }*/
/*.................................SUB MENU..............................*/
.sub-menu {
  position: absolute;
  width: 60%;

  background: #fff;
  display: none;
  justify-content: center;
  /* align-items: center; */
  box-shadow: 0 0 2px #000;
}
.drop-menu:hover > .sub-menu {
  left: 0;
  /* right: 0; */
  top: 60px;
  display: flex;
  margin-left: 250px;
}
.drop-menu ul li {
  padding: 5px 0;
}
.drop-menu span {
  display: inline-block;
  margin-left: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.drop-menu:hover span {
  transform: rotate(-180deg);
}
.sub-menu ul {
  flex: 1;
  text-align: center;
  list-style: none;
  padding: 10px;
}
.sub-menu ul a {
  color: #111111;
}
.sub-menu ul a:hover {
  color: #0dcaf0;
}
.logo-submenu {
  height: 210px;
  width: 150px;
}
/*.menu ul.sub-menu {
    position: absolute;
    background-color: #fff;
    display: block;
    width: 135px;
    display: none;
    padding: 10px 0px;
  }
  .menu li:hover > ul.sub-menu {
    display: block;
  }
  .menu ul.sub-menu li:last-child a {
    height: 50px;
    border: none;
  }
  .menu ul.sub-menu a {
    padding: 8px 5px;
    color: #111111;
  
    font-size: 15px;
    margin-left: 5px;
    left: 0;
    font-weight: bold;
  }
  .menu ul .sub-menu li {
    margin: 0px;
    padding: 0px;
    z-index: 1;
  }
  .menu ul.sub-menu li:hover > a {
    transition: all 0.4s;
    margin: 0px;
    padding: 0px;
    z-index: 1;
  }
  .menu ul .sub-menu ul.sub-menu {
    left: 135px;
    margin-top: -40px;
    width: 100%;
  }*/

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.bg-icon {
  background: url() center center repeat;
  background-size: contain;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-outline-primary:hover,
.btn.btn-outline-secondary:hover {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

/*** Navbar ***/
.fixed-top {
  transition: 0.5s;
}

.top-bar {
  height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.nav-img {
  cursor: pointer;
}
.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
  padding: 25px 15px;
  color: #111111;
  font-weight: 600;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--dark);
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav {
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    background: #ffffff;
  }

  .navbar .navbar-nav .nav-link {
    padding: 10px 0;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    transition: 0.5s;
    opacity: 0;
    border: none;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Header ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
  background-color: #d2dae2;
  border: 10px solid #d2dae2;
  border-radius: 3rem;
}

@media (max-width: 768px) {
  #header-carousel .carousel-item {
    position: relative;
    min-height: 450px;
  }

  #header-carousel .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.page-header {
  padding-top: 12rem;
  padding-bottom: 6rem;
  background: url(../img/carousel-1.jpg) top right no-repeat;
  background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #999999;
}

/*** Section Header ***/
.section-header {
  position: relative;
  padding-top: 25px;
}

.section-header::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--secondary);
}

.section-header::after {
  position: absolute;
  content: "";
  width: 90px;
  height: 2px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--blu);
}

.section-header.text-start::before,
.section-header.text-start::after {
  left: 0;
  transform: translateX(0);
}

/*** About ***/
.about-img img {
  position: relative;
  z-index: 2;
}

.about-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(#ffffff, #eeeeee 5px, transparent 5px, transparent 10px);
  background-image: -moz-repeating-radial-gradient(#ffffff, #eeeeee 5px, transparent 5px, transparent 10px);
  background-image: -ms-repeating-radial-gradient(#ffffff, #eeeeee 5px, transparent 5px, transparent 10px);
  background-image: -o-repeating-radial-gradient(#ffffff, #eeeeee 5px, transparent 5px, transparent 10px);
  background-image: repeating-radial-gradient(#ffffff, #eeeeee 5px, transparent 5px, transparent 10px);
  background-size: 20px 20px;
  transform: skew(20deg);
  z-index: 1;
}

/*** Product ***/
.nav-pills .nav-item .btn {
  color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
  color: #ffffff;
}

.product-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
}

.product-item img {
  transition: 0.5s;
}

.product-item:hover img {
  transform: scale(1.1);
}

.product-item small a:hover {
  color: var(--red) !important;
}
.form-se {
  border-radius: 10px;
  border-color: #f65005;
  text-align: center;
  background-color: #ffffff;
  width: 100px;
  height: 38px;
}
.option {
  background: #ffffff;
  color: #000;
}
.form-se:focus {
  border-color: #f65005;
}

/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item img {
  width: 100%;
  height: 100%;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item .testimonial-item * {
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--light) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
  color: #ffffff !important;
}

.testimonial-carousel .owl-item.center .testimonial-item i {
  color: var(--secondary) !important;
}

.testimonial-carousel .owl-nav {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  margin: 0 12px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark);
  border: 2px solid var(--red);
  border-radius: 50px;
  font-size: 18px;
  transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  color: #ffffff;
  background: var(--red);
}

/*** Footer ***/
.footer {
  color: #999999;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #999999;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #999999;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--light);
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .copyright a:hover {
  color: var(--secondary);
}
